<a href="https://colab.research.google.com/github/Vasanthsunny/Vasanthsunny/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
try:
  %tensorflow_version 2.X
except Exception:
  pass

`%tensorflow_version` only switches the major version: 1.x or 2.x.
You set: `2.X`. This will be interpreted as: `2.x`.


TensorFlow 2.x selected.

In [2]:
from __future__ import absolute_import,division,print_function,unicode_literals
import functools
import numpy as np
import tensorflow as tf

In [3]:
train_url='https://storage.googleapis.com/tf-datasets/titanic/train.csv'
dfeval ='https://storage.googleapis.com/tf-datasets/titanic/eval.csv'

In [4]:
train=tf.keras.utils.get_file("train.csv",train_url)
test=tf.keras.utils.get_file('eval.csv',dfeval)

Downloading data from https://storage.googleapis.com/tf-datasets/titanic/train.csv
32768/30874 [===============================] - 0s 0us/step
40960/30874 [=======================================] - 0s 0us/step
Downloading data from https://storage.googleapis.com/tf-datasets/titanic/eval.csv
16384/13049 [=====================================] - 0s 0us/step
24576/13049 [========================================================] - 0s 0us/step

In [5]:
np.set_printoptions(precision=3,suppress=True)

In [8]:
!head  {train}

survived,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone
0,male,22.0,1,0,7.25,Third,unknown,Southampton,n
1,female,38.0,1,0,71.2833,First,C,Cherbourg,n
1,female,26.0,0,0,7.925,Third,unknown,Southampton,y
1,female,35.0,1,0,53.1,First,C,Southampton,n
0,male,28.0,0,0,8.4583,Third,unknown,Queenstown,y
0,male,2.0,3,1,21.075,Third,unknown,Southampton,n
1,female,27.0,0,2,11.1333,Third,unknown,Southampton,n
1,female,14.0,1,0,30.0708,Second,unknown,Cherbourg,n
1,female,4.0,1,1,16.7,Third,G,Southampton,n